@charset:"UTF-8";
a{
	font-size: 0.17rem;
}
.store-nav{
	position: relative;
	left: 0;
	top: 0;
	width:100%;
	height: 2.4rem;
	
}
.store-pic{
	width: 100%;
	height: 1.3rem;
}
.store-pic img{
	width: 100%;
	height: 1.3rem;
}
.row{
	padding: 0 3.75%;
	width:100%;
	height:0.55rem;
	line-height: 0.55rem;
	border-bottom: 1px solid #d6d4d4;
	box-sizing: border-box;
}
i.iconfont{
	font-size: 0.2rem;
}
.store-connect .row i.iconfont{
	vertical-align: middle;
}
.store-nav,
.store-connect,
.share{
	margin-bottom: 0.15rem;
	background: #fcfafa;
}
.row .arrow {
	display: flex;
	display: -webkit-flex;
	width: 0.4rem;
	float: right;
	justify-content: flex-end;
}
.order{
	display: flex;
	display: -webkit-flex;
}
.order a{
	display:block;
	flex: 1;
	text-align:center;
	color: #f40;
}
.order a:first-child{
	border-right: 1px solid #d6d4d4;
}
.order i.iconfont{
	margin-right: 0.14rem;
}
.row>span{
	margin-left:0.1rem;
}
.discount-info{
	padding-left: 31%;
}
.discount-info div span{
	display:inline-block;
	font-size:0.12rem;
	width: 0.17rem;
	height: 0.17rem;
	margin-right: 0.06rem;
	line-height: 0.17rem;
	text-align:center;
	color:#fcfafa;
	border-radius: 50%;
}
.icon{
	position:absolute;
	top:0.9rem;
	left:3.75%;
	width:0.82rem;
	height:0.82rem;
	border:1px solid #f40;
}
.icon img{
	width:0.82rem;
	height:0.82rem;
}
.store-name{
	position:absolute;
	top:1rem;
	left:31%;
	font-size:0.16rem;
	color:#fff;
}